doctype html
head
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap")
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/styles.css')
  link(rel='stylesheet', href='/css/registration.css')
  link(rel='stylesheet', href='/css/nav.css')
  link(rel='stylesheet', href='/css/listingtable.css')
  
    
  script(src='script.js')

body
  header
    nav
      ul
        li
          a(href='/') Home
        li |
        li
          a(href='#') Blog  
      a#registerA(href='/register') Register

  block content



