//- alert Sign-in/ username / password 
extends layout

block content
  main
    section#intro-text
      span Simple Kitchen
      h3
        | Simple &amp; Comforting 
        br
        | Recipes All Year Round
    section#registerform
      h2 Register to Subscribe 
      include ./form.pug
  footer | &copy; Copyright 2021