/* Nesting */

@import "colors.scss";

/* SCSS */

nav {
  font: {
    size: 1em;
    font-weight: bold;
  }
  float: left;
  ul {
    list-style-type: none;
    li {
      float: left;
      margin: 0 5px 0 0;
      color: $color4;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        color: $color4;
      }
    }
  }
  #registerA {
    display: flex;
    margin-left: 80em;
    list-style-type: none;
    color: $color4;
    text-decoration: none;
  }
}

