@import "colors.scss";

main {
  #registerform {
    float: right;
    width: 750px;
    align-items: center;
    h2 {
      padding: 2px 0;
      text-align: center;
    }

    .form-registration {
      text-align: left;
      padding: 0 14rem;

      label {
        display: block;
        width: 100%;
        padding-top: 0;
      }
      input {
        display: block;
        width: 95%;
        // height: 1.5rem;
      }
      .btn {
        margin-top: 1em;
        width: 97%;
        background-color: $backgroundColor1;
        color: $color4;
        border-style: none;
        height: 2rem;
        text-align: center;
        padding: 2px;
      }
    }

    li {
      text-align: center;
      list-style: none;
    }
    li:before {
      content: "! Error : ";
      color: red;
    }
  }
  #thankyou {
    text-align: center;
    font-size: larger;
  }
}
